h1,h2,h3{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 }

li,p {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
.header{
    padding: 5px;
    width: 100vw;
    height: 26vh;
    background-color: rgb(197, 155, 195);
    position: relative;
}

.logoDiv{
    width: 100vw;
    height: 25vh;
    background-image: url("../img/logo1-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;   
    background-position: center;
    position: absolute;

 }
.nav{
    position: absolute;
}
.tituloLogo{
    width: 100vw;
    height: 28vh;
    position: absolute;
    text-align: center;    
}

.containerFlex {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    
 }
main{
    width: 100vw;
    height: 80vh;
    margin: 10px;
}
.sticky{
    position: sticky;
    margin: 2px;
    text-align: center;
    width: 18vw;
    height: 8vh;
    top: 0; /*para que quede fijo el sticky*/
    padding: 2px; /*para que mantenga distancia fija el sticky con la lista items*/
    background-color: rgb(250, 250, 250,0.9);
} 
.articulos {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    
 }

.article {
    width: 20vw;
    height: 50vh;
    background-position: center;
    border-style: groove;
    overflow: auto;
    align-content: normal;
    margin: 8px;
 }
.listaItems{
    height: 50vh;
    width: 20vw;
}
h1{
    text-align: center;
 }

li:hover img{
    display: block;

 }
img{
    display: none;
    width: 15vw;
    height: 30vh;
 }
.menu:hover ul{
    display: block;

}
i ul{
    display: none;
}

.contacto{
    position: absolute;
    width: 100vw;
    height: 25vh ;
    text-align: center;
    /* background-color: blueviolet; */
}
.footer {
    position: relative;
    margin-top: 10px;
    display: flex;
    width: 100vw;
    height: 25vh;
    background-color: rgb(180, 180, 233);
    align-content: end;
 }
.mapa{
    position: absolute;
    width: 95vw;
    height: 25vh;
    padding: 10px;
    /* background-color: brown; */
    text-align: right;
 }



